node_modules/
.node_modules/

built/*

tests/
*.config

scripts/eslint/built/
scripts/debug.bat
scripts/run.bat
scripts/**/*.js
scripts/**/*.js.map

coverage/

**/.DS_Store
.settings

**/.vs
**/.vscode/*

yarn.lock
yarn-error.log
package-lock.json

.parallelperf.*
tests/baselines/reference/dt

.eslintcache
*v8.log